<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ealen.domain.mapper.OauthAccountMapper">


    <select id="loadUserByUsername" resultType="com.github.ealen.domain.entity.OauthAccount">
        select *
        from oauth_account
        where client_id = #{clientId}
          and username = #{username}
          and account_non_deleted = true
        limit 1
    </select>

</mapper>